footer {
    background-color: white;
    border: 0;
    border-top: 1px solid black;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 5rem;
    line-height: 5rem;
    z-index: 999;
}
