/* FDF5DF #5EBEC4 #F92C85 */

header {
  background: white;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 5rem;
  line-height: 5rem;
  z-index: 999;
  border:0;
  border-bottom: 1px solid black;
}


header * {
  color: black;
}

header .logo {
  font-weight: 900;
}

header .hamburger {
  font-size: 2rem;
  display: inline-block;
  padding-right: 0.5rem;
}

#navigation {
  text-align: right;
}

#navigation>ul {
  background-color: white;
  border: 0;
  border-bottom: 1px solid black;
  margin: 0;
  padding: 0;
  width: 100%;
  position: absolute;
  right: 0;
  top: -0.1rem;
}

@media only screen and (min-width: 720px) {
  #navigation>ul {
    width: auto;
    border: 1px solid black;
    border-top: 0;
    right: 2rem
  }
}

#navigation>ul>li {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

#navigation>ul>li>a {
  display: block;
  padding: 0 3rem;
  height: auto;
  line-height: 3rem;
  margin: 0;
  text-decoration: none;
}

#navigation>ul>li>a:hover {
  background-color: black;
  color: white;
}

span.logo {
  font-size: 3rem;
  position: absolute;
  top: -0.05rem;
  left: 1.5rem;
  font-weight: 900;
  color: black;
  display: inline-block;
  overflow: hidden;
}