html {
  background-color: black;
}

body {
  color: white;
  margin-top: 8rem;
  margin-bottom: 12rem;
}

.lcr-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}