
body {
  background-color: white;
  color: black;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.lcr-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}