body {
  background-color: white;
  color: black;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.lcr-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.error-server {
  color: white;
  background-color: red;
  padding: 0.5rem 1rem;
  font-weight: 900;
}

.error {
  color: red;
  font-weight: 900;
}